<div class="container mt-4 mb-4">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <h4 class="card-title">Patent Filings for Green Hydrogen Technology</h4>
      </div>
      <div class="card-body">
        <p class="card-text">Patent filings on green hydrogen technologies have proliferated: the USA has filed 35, China 45, and Germany 28. The filings concern various innovations, such as electrolyzers, electro-catalysts, and photo-electrolysis, in a reflection of different approaches around the world to ramp up green hydrogen production for sustainable energy.</p>
        <a href="https://www.irena.org/News/articles/2022/May/Patents-for-Green-Hydrogen-Technology-on-the-Rise" target="_blank" class="btn btn-primary">Reference Article</a>
      </div>
    </div>
  </div>
  <div class="container mb-4">
    <div class="card">
      <div class="card-body text-center">
        <div #scatterChart></div>  <!-- Container for the pie chart -->
      </div>
    </div>
  </div>
  <div class="container mt-4 mb-4">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <h4 class="card-title">Overview for Graph</h4>
      </div>
      <div class="card-body">
        <p class="card-text">The last few months have seen a spurt in patent filings related to green hydrogen technology, covering mainly electrolyzers, catalysts, and photo-electrolysis techniques for the cost-effective production of hydrogen from renewable energy sources. Major country filings such as those from the USA, China, and Germany point to the growing importance of green hydrogen as an area of research and development.</p>
        <a href="https://www.irena.org/News/articles/2022/May/Patents-for-Green-Hydrogen-Technology-on-the-Rise" target="_blank" class="btn btn-primary">Reference Article</a>
      </div>
    </div>
  </div>
  